name: Tests

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Node.js v22
        run: |
          curl -fsSL https://deb.nodesource.com/setup_22.x | sudo -E bash -
          sudo apt-get install -y nodejs
          node -v

      - name: Install pnpm
        run: |
          PNPM_VERSION=$(node -p "require('./package.json').packageManager.split('@')[1].split('+')[0]")
          npm install -g pnpm@$PNPM_VERSION
          pnpm -v

      - name: Install dependencies
        run: pnpm install

      - name: Run tests
        run: pnpm test
